.contact__container {
    margin-top: 80px;
    
}
.contact__info {
    text-align: center;
    padding-bottom: 40px;

}
.contact__dsr {
    display: flex;
    justify-content: space-between; 
    box-shadow: 0px 0px 26px 6px #959595;
    margin-bottom: 40px;
    background: #fff;
}
.contact__dsr:hover {
    box-shadow: 0px 0px 28px 8px #7c7a7a;
}
.contact__list {
    padding: 0;
    padding-bottom: 80px;
    margin: 0;
}
.contact__title {
    font-size: 33px;
    font-weight: normal;
    color: #595959;
    margin: 0;
    padding: 0;
    // padding-top: 20px;
    // text-align: center; 


}
.contact__list-title {
    font-size: 23px;
    font-weight: 400;
    color: #595959;
    margin: 0;
    // padding-top: 15px;
    
    text-align: center; 
}
.item-title {
    font-size: 18px;
    font-weight: 600;  
}
.contact__item {
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 20px;
}
.contact__item:hover {
    color: #b00e23;
}
