<section class="contact">
    <div class="container contact__container">
        <div class="contact__info">
                <h2 class="contact__title">Контакты</h2>
                <p>Обратитесь к нашим специалитам и получите профессиональную консультацию!</p>
                <p>Вы можете обратиться к нам по телефонам, по электронной почте или договориться о встрече в нашем офисе.</p>
                <p>Будем рады помочь ответить на все ваши воросы!</p>  
        </div>
            
          
        <div class="contact__dsr">
                {% include "components/common/map/map.html" %}
                
<ul class="contact__list">
    <!-- <li class="contact__item"><h2 class="contact__title">Контакты</h2></li> -->
    <li class="contact__item"><h3 class="contact__list-title">
            Наш адресс и телефон
        </h3></li>
    <li class="contact__item">
        <span class="item-title">Адресс:</span> г.Киев  ул.Кириловская 160, офис 415
    </li>
    
    <li class="contact__item" >
        <span class="item-title">Телефоны:</span><br>
        <a href="#">+3(099)428-28-80</a><br>
        <a href="#">+3(099)428-28-80</a><br>
        <a href="#">+3(099)428-28-80</a><br>
    </li>

    <li class="contact__item">
        <span class="item-title">E-mail:</span> <a href="#">myvarvara2211@gmail.com</a>
    </li>
</ul>
        </div>
    </div>
</section>