<!-- info Card -->
<section class="info">
    <div class="container info__container">
        <h2 class="info__title">Наши услуги</h2>
        <p class="info__title-dsr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit voluptas ut quis,</p>

        <!-- card -->
        <div class="info__servis-card">
            <div class="info__dsr">
                <div class="info__servis">
                    <i class="info__servis-icon">
                        <i class="far fa-address-card"></i>
                    </i>
                    <h4 class="info__servis-title">Lorem ipsum dolor sit amet</h4>
                    <p class="info__servis-dsr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto amet adipisci illo voluptatem optio
                        reprehenderit sed ullam dicta vero est, reiciendis possimus pariatur nihil ipsam dolorem debitis
                        officia veritatis voluptate!</p>
                </div>
            </div>
            <div class="info__dsr">
                <div class="info__servis">
                    <i class="info__servis-icon">
                        <i class="far fa-handshake"></i>
                    </i>
                    <h4 class="info__servis-title">Lorem ipsum dolor sit amet</h4>
                    <p class="info__servis-dsr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto amet adipisci illo voluptatem optio
                        reprehenderit sed ullam dicta vero est, reiciendis possimus pariatur nihil ipsam dolorem debitis
                        officia veritatis voluptate!</p>
                </div>
            </div>
            <div class="info__dsr">
                <div class="info__servis">
                    <i class="info__servis-icon">
                        <i class="fas fa-cogs"></i>
                    </i>
                    <h4 class="info__servis-title">Lorem ipsum dolor sit amet</h4>
                    <p class="info__servis-dsr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto amet adipisci illo voluptatem optio
                        reprehenderit sed ullam dicta vero est, reiciendis possimus pariatur nihil ipsam dolorem debitis
                        officia veritatis voluptate!</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- /Card -->