<div class="servis__container container">
    <div class="servis__card">
        <div class="servis__card-img">
            <img src="img/w.jpg" alt="foto" class="card-img">
        </div>
        <div class="servis__info">
            <h3 class="servis__info-title">Аренда</h3>
            <p class="servis__info-dsr">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius at voluptatum natus eaque sequi illo? Consectetur
                totam eaque reiciendis ipsum repellat repudiandae alias nemo iusto voluptates doloribus distinctio, molestiae
                culpa! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum nihil sit odit. Voluptas neque quis
                labore quaerat quam, architecto placeat? Ipsam laudantium esse consequatur illo? Ducimus iure quaerat exercitationem
                nam.</p>
        </div>
    </div>
</div>