<header class="header">
      <!-- topbar social -->
      {% include 'components/header/topbar/topbar.html' %}
      <!-- /topbar -->
      <!-- logo -->
      <!-- {% include 'components/header/logo/logo.html' %} -->
      <!--/ logo -->
      <!-- nav -->
      {% include 'components/header/nav/nav.html' %}
      <!-- /nav -->
      
</header>
{% include 'components/header/main_header/main.html' %}
<section class="slider">
      {% include 'components/slider/slider.html' %}
</section>
<section class="info">
      {% include "components/section_info/info.html" %}
</section>
<section class="price">
      {% include "components/section_price/price.html" %}
</section>
<section class="servis">
            {% include "components/section_servis/servis.html" %}
      </section>