.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-menu {
    display: flex;
    padding: 0;
    margin: 0;
}

.header-menu__item:not(:first-child) {
    margin-left: 30px;
}

.header-link {
    font-size: 16px;
}
.header-link:hover {
    color: #ee250f
}

.header-card {
    margin-left: 20px;
}