<!-- HeaderNav -->
<nav class="header-nav">
    <div class="header__container container">
        {% include 'components/header/logo/logo.html' %}
        <ul class="header-menu">
            <li class="header-menu__item">
                <a href="index.html" class="header-link">О нас</a>
            </li>
            <li class="header-menu__item">
                <a href="price.html" class="header-link">Кофе</a>
            </li>
            <li class="header-menu__item">
                <a href="rent.html" class="header-link">Аренда</a>
            </li>
            <li class="header-menu__item">
                <a href="" class="header-link">Ремонт</a>
            </li>
            <li class="header-menu__item">
                <a href="" class="header-link">Контакты</a>
            </li>
            <li>
                <a href="#" class="header-card">
                    <i class="header-card__icon fas fa-shopping-cart"></i>
                </a>
            </li>

        </ul>
    </div>
</nav>
<!-- /HeaderNav -->