<footer class="footer">
        <div class="footer-container container">
                <a href="" class="footer__logo">Dobra
                        <span class="footer__logo-title">Kava</span>
                </a>
                <ul class="footer__list">
                        <li class="footer__item">
                                <h1 class="footer__title">Помощь</h1>
                        </li>
                        <li class="footer__item">
                                <a href="" class="footer__link">Контакты</a>
                        </li>
                        <li class="footer__item">
                                <a href="" class="footer__link">Реквизиты</a>
                        </li>
                        <li class="footer__item">
                                <a href="" class="footer__link">Доставка</a>
                        </li>
                        <li class="footer__item">
                                <a href="" class="footer__link">Вызов мастера</a>
                        </li>
                        <li class="footer__item">
                                <a href="" class="footer__link">Блог</a>
                        </li>
                </ul>
                <ul class="footer__list">
                        <li class="footer__item">
                                <h1 class="footer__title">О нас</h1>
                        </li>
                        <li class="footer__item">
                                <a href="" class="footer__link">Кофе</a>
                        </li>
                        <li class="footer__item">
                                <a href="" class="footer__link">Аренда</a>
                        </li>
                        <li class="footer__item">
                                <a href="" class="footer__link">Ремонт</a>
                        </li>
                        <li class="footer__item">
                                <a href="" class="footer__link">Контакты</a>
                        </li>
                </ul>
                <ul class="footer__social">
                        <li class="footer__social-item">
                                <h5 class="footer__title footer__social-title">Подисывайтесь на нас</h5>
                        </li>
                        <div class="footer__icons">
                                <li class="footer__social-item">
                                        <a href="" class="footer__social-link">
                                                <i class="fab fa-facebook-f"></i>
                                        </a>
                                </li>

                                <li class="footer__social-item">
                                        <a href="" class="footer__social-link">
                                                <i class="fab fa-twitter"></i>
                                        </a>
                                </li>
                                <li class="footer__social-item">
                                        <a href="" class="footer__social-link">
                                                <i class="fab fa-google-plus-g"></i>

                                        </a>
                                </li>
                        </div>
                        <div class="footer__social-form">
                                <input type="text" placeholder="Email" class="backlight" />
                                <input type="password" placeholder="Password" class="backlight" />
                                <input type="submit" value="Подписаться" class="backlight footer__social-submit" />
                        </div>
                </ul>
        </div>
</footer>