<section class="service">
    <div class="service__container container">
        <div class="service__card">
            <div class="service__card-img">
                <img src="./img/w.jpeg" alt="foto" class="card-img">
            </div>
            <div class="service__info">
                <h3 class="service__info-title">Аренда</h3>
                <p class="service__info-dsr">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus illum voluptatibus pariatur aut! Reiciendis
                    porro veritatis corrupti distinctio a odit sapiente quos, optio quam vel quis quasi aut, id reprehenderit.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius at voluptatum natus eaque sequi illo?
                    Consectetur totam eaque reiciendis ipsum repellat repudiandae alias nemo iusto voluptates doloribus distinctio,
                    molestiae culpa! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum nihil sit odit. Voluptas
                    neque quis labore quaerat quam, architecto placeat? Ipsam laudantium esse consequatur illo? Ducimus iure
                    quaerat exercitationem nam.
                </p>
            </div>
        </div>
        <br>
        <div class="service__card">
            <div class="service__info">
                <h3 class="service__info-title">Условия</h3>
                <p class="service__info-dsr">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus illum voluptatibus pariatur aut! Reiciendis
                    porro veritatis corrupti distinctio a odit sapiente quos, optio quam vel quis quasi aut, id reprehenderit.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius at voluptatum natus eaque sequi illo?
                    Consectetur totam eaque reiciendis ipsum repellat repudiandae alias nemo iusto voluptates doloribus distinctio,
                    molestiae culpa! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum nihil sit odit. Voluptas
                    neque quis labore quaerat quam, architecto placeat? Ipsam laudantium esse consequatur illo? Ducimus iure
                    quaerat exercitationem nam.
                </p>
            </div>
            <div class="service__card-img">
                <img src="./img/w.jpeg" alt="foto" class="card-img">
            </div>
        </div>
        <br>
        <div class="service__card">
            <div class="service__card-img">
                <img src="./img/w.jpeg" alt="foto" class="card-img">
            </div>
            <div class="service__info">
                <h3 class="service__info-title">Ремонт и обслуживание</h3>
                <p class="service__info-dsr">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus illum voluptatibus pariatur aut! Reiciendis
                    porro veritatis corrupti distinctio a odit sapiente quos, optio quam vel quis quasi aut, id reprehenderit.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius at voluptatum natus eaque sequi illo?
                    Consectetur totam eaque reiciendis ipsum repellat repudiandae alias nemo iusto voluptates doloribus distinctio,
                    molestiae culpa! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum nihil sit odit. Voluptas
                    neque quis labore quaerat quam, architecto placeat? Ipsam laudantium esse consequatur illo? Ducimus iure
                    quaerat exercitationem nam.
                </p>
            </div>
        </div>
    </div>

</section>