<ul id="slides">
    <li class="slide showing">
        <img class="slides__foto" src="img/photo-1.jpg" alt="coffe">
        <div class="slides__dsc">Аренда кофейного обарудования</div>
    </li>
    <li class="slide">
        <img class="slides__foto" src="img/3.jpg" alt="coffe">
        <div class="slides__dsc"></div>
    </li>
    <li class="slide">
        <img class="slides__foto" src="img/2.jpg" alt="coffe">
        <div class="slides__dsc">
            <h1 class="slides__dsc-title"></h1>
        </div>
    </li>

</ul>


