.logo {
  color: #ee250f;
}

.svg-wrapper {
  position: relative;
  width: 300px;
}

.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  fill: transparent;
  stroke: #ee250f;
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-family: 'Anton', sans-serif;
  font-size: 40px;
  text-shadow: 4px 4px 5px rgba(150, 150, 150, 1);
  line-height: 32px;
  letter-spacing: 8px;
  text-align: center;
  color: #595959;
}

.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}